{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    <strong>If you find ChanFAD useful, please cite us:</strong>
    Castro et al. (2022) ChanFAD: a functional annotation database for ion channels. Submitted.
</address>

<br />

<address>
    <strong>For live updates, check us out on Twitter at:</strong>
    <a href="https://twitter.com/chanfad_org">@chanfad_org</a>
    <a class="twitter-timeline" href="https://twitter.com/chanfad_org?ref_src=twsrc%5Etfw">Tweets by chanfad_org</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</address>

<br />

<address>
    <strong>For comments or questions, contact Dr. Jeff Zahratka:</strong>   <a href="mailto:jzahratk@bw.edu">jzahratk@bw.edu</a><br />
</address>

{% endblock %}
