{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>There are currently {{ numChan }} entries in the ChanFAD database.</p>

<p>
    <strong>If you find ChanFAD useful, please cite us:</strong>
    Castro et al. (2022) ChanFAD: a functional annotation database for ion channels. Submitted.
</p>

<p>
    <strong>Acknowledgements:</strong> We would like to thank the members of the Fall 2021 Neurophysiology course at Baldwin Wallace University, the BW Department of Neuroscience, and the BW Department of Biology and Geology.
</p>

{% endblock %}
