<!DOCTYPE html>

{% extends "app/layout.html" %}

{% block content %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ channel.description }}</title>
    <script src="https://cdn.jsdelivr.net/gh/calipho-sib/feature-viewer@v1.1.0/dist/feature-viewer.bundle.js"></script>
</head>
<body>
    <h1><strong>PDB ID: <a href="https://rcsb.org/structure/{{ channel.pdb }}">{{ channel.pdb }}</a></strong></h1>
    <h2>{{ channel.description }}</h2>
    <h4>({{ channel.species }})</h4>

    {% if channel.reference is null %}
      <h4>PDB reference not currently available</h4>
    {% else %}
      <h4><a href="{{ channel.reference }}">PDB reference citation</a></h4>
    {% endif %}

    <iframe src="{{ channel.icn3d }} name="channel" height="500" style:"border-none" width="1024""></iframe>
    <br />

    <table>
    <tr>
    <td><a href="https://uniprot.org/uniprot/{{ channel.uniprot }}">[View on UniProt]</a></td>
    <td>&emsp;</td>
    <td><a href="https://ncbi.nlm.nih.gov/protein/{{ channel.pdb }}_A?report=fasta">[View FASTA on NCBI]</a></td>
    <td>&emsp;</td>
    <td>
    {% if channel.channelpedia != "None" %}
        <a href="{{ channel.channelpedia }}">[View Channel on Channelpedia]</a>
    {% else %}
        There is no Channelpedia entry for this channel.
    {% endif %}
    </td>
    <td>&emsp;</td>
    <td>
      {% if channel.iuphar is null %}
        There is no IUPHAR entry for this channel.
      {% else %}
        <a href="{{ channel.iuphar }}">[View on IUPHAR]</a>
      {% endif %}
    </td>
    </tr>

    <tr>
    <td><a href="http://amigo.geneontology.org/amigo/gene_product/UniProtKB:{{ channel.uniprot }}">[View on AmiGO]</a></td>
    <td>&emsp;</td>
    <td><a href="https://alphafold.ebi.ac.uk/entry/{{ channel.uniprot }}">[View Predicted Structure on AlphaFold]</a></td>
    <td>&emsp;</td>
    <td><a href="https://www.ebi.ac.uk/interpro/protein/UniProt/{{ channel.uniprot }}/">[View on InterPro]</a></td>
    <td>&emsp;</td>
    <td>
    {% if channel.kegg is null %}
        There is no KEGG entry for this channel.
    {% else %}
        <a href="https://www.genome.jp/entry/{{ channel.kegg }}">[View on KEGG]</a>
    {% endif %}
    </td>
    </tr>

    </table>

    <br>
    <div id="fv"></div>

    <script>
    var options = {showAxis: true, showSequence: true, brushActive: true, toolbar: true, bubbleHelp: true, zoomMax: 20};
    var fasta = "{{ channel.fasta|safe }}";
    var featureSet = "{{ channel.featureset|safe }}";
    var splitSet = featureSet.split(' ');
    var ft = new FeatureViewer.createFeature(fasta, '#fv', options);

    // Split featureSet using split() using a space ' ' as a delimiter

    var parsed = [];
    var fs = [];

    for (var i in splitSet) {
      parsed[i] = JSON.parse(splitSet[i]);
    }

    for (var j in parsed) {
      fs.push(parsed[j]);
    }

    ft.addFeature({
//      data: [{x:40,y:40},{x:40,y:62},{x:69,y:79},{x:77,y:99},{x:104,y:126},{x:106,y:114},{x:127,y:133},{x:160,y:163},{x:171,y:173},{x:209,y:264}],
      data: parsed,
      name: "functional domains",
      className: "annotations",
      color: "#C03000",
      height: 8,
      type: "rect"
    });

    function zoomOut(){
      ft.resetZoom();
    }

    var buttonResetZoom = '<a class="btn btn-info btnZoom" onclick="zoomOut()">Reset Zoom</a>';
    $("#fv").append("<p class='btnBlock'>"+buttonResetZoom+"</p>");

    </script>

<p>FASTA primary sequence shown in <a href="https://github.com/calipho-sib/feature-viewer">neXtProt's feature viewer.</a> Click and drag a section of sequence to zoom in. Right-click the sequence to reset the zoom.</p>

</body>

{% endblock %}
</html>
