<!DOCTYPE html>

{% extends "app/layout.html" %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    {% block content %}
    <h1>Channel List</h1>
    {% if channel_list %}
    <ul>
        {% for channel in channel_list %}
        <li>
            <a href="{{ channel.get_absolute_url }}">{{ channel.pdb }}</a> ({{channel.description}}, {{channel.species}})
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no channels found!</p>
    {% endif %}
    {% endblock %}
</body>
</html>