{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>
  <li><a href="https://webchemdev.ncbr.muni.cz/ChannelsDB/">ChannelsDB</a> is an excellent database of channel pore biophysical properties.</li>
  <li><a href="https://senselab.med.yale.edu/ModelDB/FindByCurrent">ModelDB</a> is a great repository of computational neuroscience models.</li>
  <li><a href="https://icg.neurotheory.ox.ac.uk/">Ion Channel Genealogy</a> is another excellent resource for computational models.</li>
  <li><a href="https://academic.oup.com/database/article/doi/10.1093/database/baw017/2630205">The ICEPO ion channel electrophysiology ontology</a> provides a framework for ion channel dynamics.</li>
  <li><a href="http://www.holeprogram.org/">The HOLE Program</a> is great for predicting channel pore dimensions.</li>
  <li><a href="https://neuinfo.org/">Neuroscience Information Framework</a> is an excellent resource for neuroscience big data.</li>
  <li><a href="http://www.membranetransport.org/transportDB2/">MembraneTransportDB</a> for prediction and classification.</li>
  <li><a href="http://pfam.xfam.org/">Pfam</a> is another great database for protein structure annotation based on sequence alignment.</li>
  <li><a href="https://pharos.nih.gov">Pharos</a> for finding drug discovery targets.</li>
</p>

{% endblock %}
